# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/

# VS Code settings
.vscode/

# Mac system files
.DS_Store

# Logs and database files
*.log
*.sqlite3

# Flask instance folder (if you use one)
instance/

# Pytest cache
.pytest_cache/

# Distribution / packaging
build/
dist/
*.egg-info/
